# EDA generated databases and confidential technology files
*.db
*.lib
*.lef
*.gds
*.gdsii
*.oas
*.def
*.spef
*.sdf
*.vcd
*.fsdb
*.ndm
*.tf
*.itf
*.tluplus
*.sdc
*.svf
*.ddc
*.mw
*.log
*.cmd
*.jou
*.rpt.pdf
work/
results/
reports_raw/
logs/
